[submodule "baseFunc"]
	path = baseFunc
	url = git@github.com:viti1/baseFunc.git
	branch = main
[submodule "BaseFunc1"]
	path = BaseFunc1
	url = https://github.com/viti1/baseFunc.git
	branch = vika_tmp
